.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: none;

    @include mobile-only {
        display: block;
    }

    @include sort-element-styling;
}
.images__sorter {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Ajouté pour centrer verticalement le texte */
    gap: 25px;
    margin-top:9px;

    @include mobile-only {
        justify-content: center;
        align-items: center;
    }

    &__select-container {
        position: relative;
    }
}

.dropdown-menu {
    margin-top: 0;
    background-color: var(--buttons-bg-color);
    width: 170px;
    max-height: 170px;
    border-radius: 0 0 var(--buttons-border-radius) var(--buttons-border-radius);
    position: absolute;
    z-index: 1000;
    display: none;

    @include mobile-only {
        display: none;
    }

    &.show {
        display: block;
    }

    &__sort-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: var(--buttons-bg-color);
        border: none;
        cursor: pointer;
        padding: 10px;

        @include mobile-only {
            display: none;
        }

        @media screen and (min-width: 768px) {
            @include sort-element-styling;
        }

        position: relative;
    }

    &__icon {
        font-size: 14px;
        color: var(--buttons-color);
        transition: transform 0.3s ease;
    }

    &.show &__icon {
        transform: rotate(180deg);
        content: "^"; /* Remplace la flèche descendante par une flèche montante */
    }
}

.dropdown-menu__list-item {
    padding: 14px 10px;
    width: 100%;
    text-align: left;
    border-top: 1px solid white;
    color: var(--buttons-color);
    cursor: pointer;

    &:hover {
        background-color: var(--buttons-bg-color--hover);
        color: var(--buttons-color--hover);
    }
}

/* Style supplémentaire pour aligner "Trier par" avec le bouton */
#titre-tri {
    color: #000; /* Couleur du texte noire */
    font-family: "DM Sans", sans-serif; /* Police "DM Sans" */
    font-size: 18px; /* Taille de la police de 18px */
    font-style: normal; /* Style de police normal */
    font-weight: 700; /* Épaisseur de police bold */
    line-height: normal; /* Hauteur de ligne normale */
    margin-right: 10px; /* Ajustement de l'espacement à droite si nécessaire */
    display: inline-block; /* Assurez-vous que l'élément est en ligne */
    vertical-align: middle; /* Alignement vertical au milieu */


}
